* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'IBM Plex Sans', sans-serif;
}
main {
    background-color: #0d0d0c;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}
h1 {
    font-size: 2rem;
    text-wrap: balance;
    color: white;
    padding: 20px 0px;
}
h2 {
    font-size: 1.5rem;
    text-wrap: balance;
    color: white;
    padding: 20px 0px;
}
p {
    color: white;
    margin-top: 20px;
    font-size: 20px;
    line-height: 1.8rem;
}
.copyright {
    margin-top: 40px;
    margin-bottom: 20px;
}
.copyright, .copyright a {
    color: white;
    display: flex;
    align-self: center;
    font-size: 0.9rem;
}
.article-content {
    max-width: 800px;
    margin: 0 auto;
}
.article-header img {
    width: 100%;
    max-width: 800px;
}
.article-content {
    padding: 20px;
}
img {
    width: 100%;
}
figure {
    margin: 20px 0px;
}
figcaption {
    color: white;
    font-style: italic;
}
a {
    color: white;
}
.websiteLogo {
    width: 40px;
}
header {
    background-color: #0d0d0c;
    padding: 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.hamburger-menu-icon {
    width: 30px;
}