* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'IBM Plex Sans', sans-serif;
}
main {
    background-color: #0d0d0c;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 40px;
}
h1 {
    font-size: 2rem;
    text-wrap: balance;
    color: #f2ce77;
    padding: 20px 0px;
}
h2 {
    font-size: 1.5rem;
    text-wrap: balance;
    color: #f2ce77;
    padding: 20px 0px;
}
p, ul li {
    color: white;
    margin-top: 20px;
    font-size: 20px;
    line-height: 1.8rem;
}
ul {
    padding-left: 20px;
}
.copyright {
    margin-top: 40px;
    margin-bottom: 20px;
}
.copyright, .copyright a {
    color: white;
    display: flex;
    align-self: center;
    font-size: 0.9rem;
}
.article-content {
    max-width: 800px;
    margin: 0 auto;
}
.article-header img {
    width: 100%;
    max-width: 800px;
}
.article-content {
    padding: 20px;
}
img {
    width: 100%;
    max-width: 600px;
}
figure {
    margin: 20px 0px;
}
figcaption {
    color: white;
    font-style: italic;
}
a {
    color: white;
}
.websiteLogo {
    width: 40px;
}
header {
    background-color: #0d0d0c;
    padding: 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid rgb(60, 60, 60);
}
.hamburger-menu-icon {
    width: 30px;
}
.prev-next--container {
    display: flex;
    flex-direction: column;
    padding: 10px;
    gap: 10px;
    justify-content: space-between;
}
.next,.prev {
    background-color: #161614;
    padding: 10px 10px;
    border: 1px solid rgb(110, 110, 110);
    border-radius: 5px;
}
.prev, .prev span {
    text-align: right;
}
.prev-next--container a {
    text-decoration: none;
}
.span {
    display: block;
    color: white;
    text-align: left;
    font-weight: 700;
    margin: 2px 0px;
}
i {
    margin-left: 10px;
    color: #f2ce77;
}
.language-js {
    border: none !important;
    box-shadow: none !important;
}

@media (min-width: 700px) {
    .prev-next--container {
        flex-direction: row;
        width: 100%;
        max-width: 800px;
    }
}