* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
}
main {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 30px;
    background-color: rgb(0, 0, 0);
    opacity: 1;
    background-image:  linear-gradient(30deg, #011027 12%, transparent 12.5%, transparent 87%, #011027 87.5%, #011027), linear-gradient(150deg, #011027 12%, transparent 12.5%, transparent 87%, #011027 87.5%, #011027), linear-gradient(30deg, #011027 12%, transparent 12.5%, transparent 87%, #011027 87.5%, #011027), linear-gradient(150deg, #011027 12%, transparent 12.5%, transparent 87%, #011027 87.5%, #011027), linear-gradient(60deg, #01102777 25%, transparent 25.5%, transparent 75%, #01102777 75%, #01102777), linear-gradient(60deg, #01102777 25%, transparent 25.5%, transparent 75%, #01102777 75%, #01102777);
    background-size: 80px 140px;
    background-position: 0 0, 0 0, 40px 70px, 40px 70px, 0 0, 40px 70px;
    animation: animateBackground 5s linear infinite;
}
h1 {
    font-size: 2rem;
    text-wrap: balance;
    color: white;
}
p {
    color: white;
    margin-top: 20px;
}
button {
    margin-top: 20px;
    color: white;
    background-color: rgb(1, 1, 95);
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    box-shadow: 3px 5px black;
    display: flex;
    align-self: flex-start;
    transition: 0.2s;
}
button:hover {
    cursor: pointer;
}
button:active {
    box-shadow: none;
}
.copyright {
    margin-top: 40px;
}
.copyright, .copyright a {
    color: white;
    display: flex;
    align-self: flex-start;
    font-size: 0.9rem;
}
.index {
    background: rgba(255, 255, 255, 0);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(2.8px);
    -webkit-backdrop-filter: blur(2.8px);
    border: 1px solid rgba(255, 255, 255, 0.44);
    padding: 20px;
    color: white;
}
.index h2 {
    margin: 20px 0px;
}
.option {
    margin: 10px 0px;
    border: 1px solid rgba(255, 255, 255, 0.44);
    border-radius: 16px;
    padding: 10px;
    transition: 0.2s;
    color: white;
    display: block;
}
.option:hover {
    cursor: pointer;
    background-color: white;
    color: black;
}
.hide {
    display: none;
}
@keyframes animateBackground {
    0% { background-position: 0 0, 0 0, 40px 70px, 40px 70px, 0 0, 40px 70px; }
    100% { background-position: 80px 0, 80px 0, 120px 70px, 120px 70px, 80px 0, 120px 70px; }
}
@media (min-width: 1280px) {
    h1 {
        font-size: 3rem;
    }
}